* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none; 
    
}

@font-face {
    font-family: 'Niagara Solid';
    src: url(../font/niagara-solid.ttf);
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'Old English Text MT';
    src: url(../font/old-english-text-mt.ttf);
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'Lucida Calligraphy';
    src: url(../font/LCALLIG.TTF);
    font-weight: normal;
    font-style: normal;
 }

body {

    margin: 0;
    height: 100vh;
    width: 100vw;

}

.background {

    background-color: #380011;
}

.header-background {

    background-color: #000000;

}

.header {


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    margin: 0px 50px;
}


/*-- LOGO ------------------------------------------------------------*/
.logo {



    width: 98px;
    height: 43px;
    
    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FF004D;
}

.menu-cliente{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;

}

.entrar-cadastre-se {

    width: 220px;
    height: 41px;

    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

}

.txt-carrinho {

    
    
    width: 220px;
    height: 41px;

    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.txt-price {

    width: 57px;
    height: 36px;

    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.06em;
    text-align: center;

    color: #FF004D;

}

.carrinho {

    margin-bottom: -3px;
    
}


/*-- MAIN ------------------------------------------------------------*/

main {


}

.background-menu {

    background: #5C3342;



}

.menu-options-top {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0px 50px;

}

.menu {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}

li{
    list-style: none;
}

.menu-options {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20px;

    list-style: none;
    color: #FFFFFF;
    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 108.58%;
    letter-spacing: 0.06em;
    /* identical to box height, or 38px */

}

.search-body {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


    box-sizing: border-box;
    padding: 1px 1px;

    background: #2D0010;
    border: 1px solid #A2536F;
    border-radius: 40px;
    margin: 1px 1px;




}

.seach-txt {

    border: none;
    background: none;
    outline: none; /*tira a borda quando clica em cima da barra de pesquisa*/

    padding: 0px;
    color: #ffffff;

    font-family: 'Lucida Calligraphy';
    font-style: italic;
    font-size: 18px;
    width: 0;
    transition: .5s;


}

.search-btn{

    display: flex;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2D0010;
    transition: .5s;

}


.lupa {

    display: flex;
    align-items: center; 
    padding: 6px;


}

.search-body:hover>.seach-txt {

    width: 242px;
    padding: 0 20px;

}

.search-body:hover>.search-btn {


}

::-webkit-input-placeholder {

    color: #A1536F

}



/* DESTAQUES  -----------------------------------------------------------------*/

.destaques-background {

    background: rgba(92, 51, 66, 0.33);

}

.destaques {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0px 50px;


}

/* VEJA-MAIS */

.veja-mais {
    
    text-decoration: none; /* remove a decoração de texto do link */
    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    color: #FFFFFF;
    
}


/* FOOTER ----------------------------------------------------------------*/
.footer-menu-background {

 background: #000000;

}

.footer-menu {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;

    padding: 100px;

}

.redes-sociais-footer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;

}

.nos-siga {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 20px;

}

.redes-sociais {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px 10px;
    

}

/*-----------------------------------------------------------------*/

.contatos-footer {

    padding: 50px;

}

.fale-conosco{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.infos-div {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 14px;

}

.infos-footer {

    font-family: 'Old English Text MT';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 108.58%;
    /* identical to box height, or 22px */

    text-align: center;
    letter-spacing: 0.085em;

    color: #FFFFFF;

    text-shadow: 0px 2px 2px #FF004D;

}

/* PAGAMENTOS ------------------------------------------------*/

.pagamentos-footer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 14px;
    padding: 50px;

}

.meios-de-pagamento {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.imgs-metodos-pagamento {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    align-items: center;
    padding: 10px;


}

.img-pagamentos{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;

}


/* H2 --------------------------------------------------------*/
h2 {
    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
    
    text-shadow: 0px 2px 2px #FF004D;
}

/* H3 ----------------------------------------------------*/

h3 {

    font-family: 'Niagara Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    /* identical to box height */
    color: #FF004D;
}

.infos-footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

}